* {
  color: #3a3846;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffd3be;
  color: #3a3846;

}

header {
  height: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.navbar {
  background-color: #639a88;

}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  
}

p {
  float: left;
  width: 600px;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 800px;
  float: left;
  padding: 10px;
}

li {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  padding-right: 1rem;
}

p::first-line{
  color: #3a5683;
  
}

a:hover{
  text-decoration: underline;
  color: #DED9DD;
}